<div class="footer-container">
    <div class="footer-child one" id= "left-address">
        <div class="footer-subchild left-one">
            <h3><%= t '.footer_left_heading' %></h3>
        </div>
        <div class="footer-subchild left-two">
            <%= t '.footer_left_desc_hk' %>
        </div>
        <div class="footer-subchild left-three">
            <%= t '.footer_left_desc_one' %>
            <br>
            <span><%= t '.footer_left_desc_two' %><span>
        </div>
    </div>
    <div class="footer-child two">
        <div class="footer-inner-child-two">
            <div class="footer-subchild middle-one">
                <h3><%= t '.footer_middle_heading' %></h3>
            </div>
            <div class="footer-subchild middle-two">
                <%= link_to t('.footer_middle_desc1'), root_path, class: "nav-link" %>
                <%= link_to t('.footer_middle_desc2'), products_path, class: "nav-link" %>
            </div>
        </div>
    </div>
    <div class="footer-child three">
        <div class="footer-subchild right-one">
            <h3><%= t '.footer_right_heading' %></h3>
        </div>
        <div class="footer-subchild right-two">
            <a class="footer-info" href="mailto:info@appgenter.com"><%= t '.footer_right_desc' %></a>
        </div>
    </div>
</div>

<div class="bottom-container">
    <div class="bottom-child">
        <div class="bottom-subchild">
            <%= t '.footer_copyright' %>
        </div>
    </div>
</div>