<div class="container">
    <div class="navbar">
        <div class="navbar-brand">
            <%= link_to root_path do %>
                <%= image_tag "appgenter.png", class: "logo-icon" %>
            <% end %>
        </div>
  
        <div class="navbar-links">
            <%= link_to t('.menu_link2'), products_path, class: "nav-link" %>
            <%= link_to t('.menu_link4'), contact_path, class: "nav-link" %>
            <ul class="navbar-nav ml-lg-auto navbar-list">
            <% I18n.available_locales.each_with_index do |locale, index| %>
                <li class="nav-lang">
                <% if I18n.locale == locale %>
                    <%= t(locale, scope: 'locales', class: 'selected-locale') %>
                <% else %>
                    <%= link_to t(locale, scope: 'locales'), url_for(locale: locale), class: 'locale-link' %>
                <% end %>
                <% unless index == I18n.available_locales.size - 1 %>
                    |&nbsp; <!-- Add spaces and the separator "|" unless it's the last language -->
                <% end %>
                </li>
            <% end %>
            </ul>
        </div>
  </div>
</div>
