<% content_for :title, "Contact Us – AppGenter" %>

<div class="contactus-container">
    <div class="contactus-child one">
        <div class="contactus-subchild one">
            <h2>Contact Us</h2>
        </div>
        <div class="contactus-subchild two">
            <h2>Leave us a little info, and we’ll be in touch.</h2>
        </div>
        <div class="contactus-subchild three">
        </div>
        <div class="contactus-subchild four">
            <div class="contactus-innerchild one">
                <div class="innerchild left-top">
                    <h2>Working Hours</h2>
                </div>
                <div class="innerchild left-bottom">
                    <p>Monday – Friday
                    <br>
                    10 am to 6 pm GMT+8</p>
                </div>
            </div>
            <div class="contactus-innerchild two">
                <div class="innerchild middle-top">
                    <h2>Post Address</h2>
                </div>
                <div class="innerchild middle-bottom">
                    <p>Menara Worldwide, Level 24 & 25 198, 
                    <br>
                    Jln Bukit Bintang, Bukit Bintang, 
                    <br>
                    55100 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                </div>
            </div>
            <div class="contactus-innerchild three">
                <div class="innerchild right-top" id="innerchild-right">
                    <h2>Social Links</h2>
                </div>
                <div class="innerchild right-bottom" id="innerchild-right">
                    <a class="contactus-link" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="contactus-link" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="contactus-link" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="contactus-subchild five">
            <h2>Looking Forward To Meet You</h2>
        </div>
    </div>
</div>

<div class="section6-container">
    <div class="section6-child one">
        <div class="section6-subchild one">
            <div class="section6-innerchild one">
                <p>Let's Get in Touch</p>
            </div>
            <div class="section6-innerchild two">
                <p>We're here to help and always happy to hear from you. Do contact us using the form. </p>
            </div>
        </div>
        <div class="section6-subchild two">
            <%= form_with model: @contact, local: true do |form| %>
                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :name, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :name, required: true, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :email, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :email, required: true, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :phone_number, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :phone_number, required: true, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :message, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_area :message, required: true, class: "area-field" %>
                    </div>
                </div>

                <div class="actions">
                    <%= form.submit "Send", class: "submit-button" %>
                </div>
            <% end %>
        </div>
    </div>
</div>