<% content_for :title, "Contact Us – ALGODLA SDN. BHD." %>

<!--
<div class="contactus-container">
    <div class="contactus-child one">
        <div class="contactus-subchild one">
            <h2><%= t '.top_title' %></h2>
        </div>
        <div class="contactus-subchild two">
            <h2><%= t '.top_desc' %></h2>
        </div>
        <div class="contactus-subchild three">
        </div>
        <div class="contactus-subchild four">
            <div class="contactus-innerchild one">
                <div class="innerchild left-top">
                    <h2><%= t '.bottom_left_title' %></h2>
                </div>
                <div class="innerchild left-bottom">
                    <p><%= t '.bottom_left_desc_one' %>
                    <br>
                    <span><%= t '.bottom_left_desc_two' %><span></p>
                </div>
            </div>
            <div class="contactus-innerchild two">
                <div class="innerchild middle-top">
                    <h2><%= t '.bottom_middle_title' %></h2>
                </div>
                <div class="innerchild middle-bottom">
                    <p><%= t '.bottom_middle_desc_one' %> 
                    <br>
                    <span><%= t '.bottom_middle_desc_two' %></span> 
                    <br>
                    <span><%= t '.bottom_middle_desc_three' %></span></p>
                </div>
            </div>
            <div class="contactus-innerchild three">
                <div class="innerchild right-top" id="innerchild-right">
                    <h2><%= t '.bottom_right_title' %></h2>
                </div>
                <div class="innerchild right-bottom" id="innerchild-right">
                    <a class="contactus-link" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="contactus-link" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="contactus-link" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="contactus-subchild five">
            <h2><%= t '.c_ending' %></h2>
        </div>
    </div>
</div>
-->

<div class="section6-container">
    <div class="section6-child one">
        <div class="section6-subchild one" id="sub-one">
            <div class="section6-innerchild one">
                <p><%= t '.section6_title' %></p>
            </div>
            <div class="section6-innerchild two">
                <p><%= t '.section6_title2' %></p>
            </div>
            <div class="section6-innerchild three">
                <p><%= t '.section6_desc' %></p>
            </div>
        </div>
        <div class="section6-subchild two">
            <%= form_with(model: @enquiry, url: enquiries_path) do |form| %>
                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :name, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :name, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :email, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :email, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :phone_number, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :phone_number, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :message, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_area :message, class: "area-field" %>
                    </div>
                </div>

                <div class="actions">
                    <%= form.submit t('global.forms.submit'), class: "submit-button" %>
                </div>
            <% end %>
        </div>
    </div>
</div>