<% content_for :title, "AppGenter – Your IT Solutions" %>

<div class="flex-container">
    <div class="flex-child magenta">
        <div class="flex-subchild first">
            <%= t '.section1_initial_title' %> <span class="highlight"><%= t '.section1_span' %></span> <%= t '.section1_ending_title' %>
        </div>
        <div class="flex-subchild second">
            <%= t '.section1_desc' %>
        </div>
    </div>
    <div class="flex-child green">
        <%= image_tag "appgenter-dev.png", class: "flex-icon" %>
    </div>
</div>

<div class="section2-container">
    <div class="section2-child one">
        <div class="section2-subchild one">
            <div class="section2-subchild inner-one" data-toggle="accordion-1">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    <%= t '.section2_bullet1' %>
                </div>
            </div>
            <div class="additional-text" id="accordion-1">
                <p><%= t '.section2_text1' %></p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-2">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    <%= t '.section2_bullet2' %>
                </div>
            </div>
            <div class="additional-text" id="accordion-2">
                <p><%= t '.section2_text2' %></p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-3">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    <%= t '.section2_bullet3' %>
                </div>
            </div>
            <div class="additional-text" id="accordion-3">
                <p><%= t '.section2_text3' %></p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-4">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    <%= t '.section2_bullet4' %>
                </div>
            </div>
            <div class="additional-text" id="accordion-4">
                <p><%= t '.section2_text4' %></p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-5">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    <%= t '.section2_bullet5' %>
                </div>
            </div>
            <div class="additional-text" id="accordion-5">
                <p><%= t '.section2_text5' %></p>
            </div>
            <div class="section2-subchild inner-one" data-toggle="accordion-6">
                <div class="section2-subchild bullet">
                    <span><i class="fas fa-caret-down"></i></span>
                </div>
                <div class="section2-subchild bullet-text">
                    <%= t '.section2_bullet6' %>
                </div>
            </div>
            <div class="additional-text" id="accordion-6">
                <p><%= t '.section2_text6' %></p>
            </div>
        </div>
    </div>
</div>

<div class="section3-container">
    <div class="section3-child one">
        <div class="section3-subchild one">
            <div class="section3-subchild image">
                <%= image_tag "appgenter-money.png", class: "section3-icon" %>
            </div>
        </div>
        <div class="section3-subchild two">
            <div class="section3-subchild two-text first">
                <p><%= t '.section3_about' %></p>
            </div>
            <div class="section3-subchild two-text second">
                <p><%= t '.section3_title' %></p>
            </div>
            <div class="section3-subchild two-text third">
                <p><%= t '.section3_desc' %></p>
            </div>
        </div>
    </div>
</div>

<div class="section4-container">
    <div class="section4-child one">
        <div class="section4-subchild-left one">
            <%= t '.section4_product' %>
        </div>
        <div class="section4-subchild-left two">
            <%= t '.section4_title' %>
        </div>
    </div>
    <div class="section4-child two">
        <div class="section4-subchild-right one">
            <div class="section4-innerchild-right-top one">
                <%= link_to "https://www.facebook.com/", target: "_blank" do %>
                    <%= image_tag "productA.png", class: "product-image" %>
                <% end %>
            </div>
            <div class="section4-innerchild-right-bottom two">
                <%= link_to "https://www.linkedin.com/", target: "_blank" do %>
                    <%= image_tag "productB.png", class: "product-image" %>
                <% end %>
            </div>
        </div>
        <div class="section4-subchild-right two">
            <div class="section4-innerchild-right-top three">
                <%= link_to "https://www.youtube.com/", target: "_blank" do %>
                    <%= image_tag "productC.png", class: "product-image" %>
                <% end %>
            </div>
            <div class="section4-innerchild-right-bottom four">
                <%= link_to "https://www.instagram.com/", target: "_blank" do %>
                    <%= image_tag "productD.png", class: "product-image" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="section5-container">
    <div class="section5-child one">
        <div class="section5-subchild one">
            <div class="section5-innerchild one">
                <div class="section5-grandchild one">
                    <div class="section5-grandsubchild-top one" data-count="269+">
                        0
                    </div>
                    <div class="section5-grandsubchild-bottom two">
                        <%= t '.section5_clients' %>
                    </div>
                </div>
                <div class="section5-grandchild two">
                    <div class="section5-grandsubchild-top three" data-count="350%">
                        0
                    </div>
                    <div class="section5-grandsubchild-bottom four">
                        <%= t '.section5_sales' %>
                    </div>
                </div>
                <div class="section5-grandchild three">
                    <div class="section5-grandsubchild-top five" data-count="15">
                        0
                    </div>
                    <div class="section5-grandsubchild-bottom six">
                        <%= t '.section5_countries' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section6-container">
    <div class="section6-child one">
        <div class="section6-subchild one">
            <div class="section6-innerchild one">
                <p><%= t '.section6_title' %></p>
            </div>
            <div class="section6-innerchild two">
                <p><%= t '.section6_desc' %></p>
            </div>
        </div>
        <div class="section6-subchild two">
            <%= form_with(model: @enquiry, url: enquiries_path) do |form| %>
                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :name, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :name, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :email, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :email, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :phone_number, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_field :phone_number, class: "inner-field" %>
                    </div>
                </div>

                <div class="section6-inner two">
                    <div class="label">
                        <%= form.label :message, class: "inner-label" %>
                    </div>
                    <div class="field">
                        <%= form.text_area :message, class: "area-field" %>
                    </div>
                </div>

                <div class="actions">
                    <%= form.submit t('global.forms.submit'), class: "submit-button" %>
                </div>
            <% end %>
        </div>
    </div>
</div>