<% content_for :title, "Privacy and Cookies | APPGENTER" %>

<div class="prico-container">
    <div class="prico-child">
        <div class="prico-subchild one">
            <div class="prico-innerchild one">
                <p><%= t '.prico_title'%></p>
            </div>
            <div class="prico-innerchild two">
                <p><%= t '.prico_desc'%></p>
            </div>
        </div>
        <div class="prico-subchild two">
        </div>
    </div>
</div>

<div class="p-item">
    <div class="p-child">
        <div class="p-text" id="p-id">
            <p><%= t '.prico_desc2'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_desc3'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_1'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_1_text_1_1'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_1_text_1_2'%>
            <br>
            <%= t '.prico_1_text_1_3'%>
            <br>
            <%= t '.prico_1_text_1_4'%>
            <br>
            <%= t '.prico_1_text_1_5'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_2'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_2_text_2_1'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_2_text_2_2'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_3'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_3_text_3_1'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_3_text_3_2'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_3_text_3_3'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_3_text_3_4'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_4'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_4_text_4_1'%></p>
        </div>
        <div class="p-text" id="www-id">
            <p><%= t '.prico_4_text_4_2'%><%= link_to "https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en", "https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en", target: "_blank", class: "www-link" %><br>
               <%= t '.prico_4_text_4_3'%><%= link_to "https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy", "https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy", target: "_blank", class: "www-link" %><br>
               <%= t '.prico_4_text_4_4'%><%= link_to "https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences", "https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences", target: "_blank", class: "www-link" %><br>
               <%= t '.prico_4_text_4_5'%><%= link_to "https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies", "https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies", target: "_blank", class: "www-link" %><br>
               <%= t '.prico_4_text_4_6'%><%= link_to "https://www.opera.com/help/tutorials/security/privacy/", "https://www.opera.com/help/tutorials/security/privacy/", target: "_blank", class: "www-link" %><br>
               <%= t '.prico_4_text_4_7'%><%= link_to "https://support.apple.com/guide/safari/sfri11471/mac", "https://support.apple.com/guide/safari/sfri11471/mac", target: "_blank", class: "www-link" %><br></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_4_text_4_8'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_5'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_5_text_5_1'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_5_text_5_2'%><br>
               <%= t '.prico_5_text_5_3'%><br>
               <%= t '.prico_5_text_5_4'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_6'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_6_text_6_1'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_6_text_6_2'%><br>
               <%= t '.prico_6_text_6_3'%><br>
               <%= t '.prico_6_text_6_4'%><br>
               <%= t '.prico_6_text_6_5'%><br>
               <%= t '.prico_6_text_6_6'%><br>
               <%= t '.prico_6_text_6_7'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_6_text_6_8'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_7'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_7_text_7_1'%></p>
        </div>
        <div class="p-all-title">
            <%= t '.prico_all_title_8'%>
        </div>
        <div class="p-text">
            <p><%= t '.prico_8_text_8_1'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_8_text_8_2'%><br>
               <%= t '.prico_8_text_8_3'%><br>
               <%= t '.prico_8_text_8_4'%><br>
               <%= t '.prico_8_text_8_5'%><br>
               <%= t '.prico_8_text_8_6'%><br>
               <%= t '.prico_8_text_8_7'%><br>
               <%= t '.prico_8_text_8_8'%><br>
               <%= t '.prico_8_text_8_9'%></p>
        </div>
        <div class="p-text">
            <p><%= t '.prico_8_text_8_10'%></p>
        </div>
    </div>
</div>
