<% content_for :title, "Terms Of Use | APPGENTER" %>

<div class="terms-container">
    <div class="terms-child">
        <div class="terms-subchild one">
            <div class="terms-innerchild one">
                <p><%= t '.terms_title'%></p>
            </div>
            <div class="terms-innerchild two">
                <p><%= t '.terms_desc'%></p>
            </div>
        </div>
        <div class="terms-subchild two">
        </div>
    </div>
</div>

<div class="terms-item">
    <div class="t-child">
        <div class="t-first-title">
            <%= t '.terms_subject' %>
        </div>
        <div class="t-text">
            <p><%= t '.terms_s_text1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_s_text2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_s_text3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_s_text4'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_s_text5'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_1'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_4'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_5'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_6'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_7'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_8'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_9'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_10'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_11'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_12'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_13'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_14'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_15'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_16'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_17'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_18'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_19'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_1_text1_20'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_2'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_4'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_5'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_6'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_7'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_8'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_9'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_10'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_11'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_12'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_13'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_14'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_15'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_16'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_2_text2_17'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_3'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_3_text3_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_3_text3_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_3_text3_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_3_text3_4'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_4'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_4'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_5'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_6'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_7'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_8'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_9'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_4_text4_10'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_5'%>
        </div>
        <div class="t-text">
            <p> <%= t '.terms_5_text5_1'%></p>
        </div>
        <div class="t-text">
            <p> <%= t '.terms_5_text5_2'%></p>
        </div>
        <div class="t-text">
            <p> <%= t '.terms_5_text5_3'%></p>
        </div>
        <div class="t-text">
            <p> <%= t '.terms_5_text5_4'%></p>
        </div>
        <div class="t-text">
            <p> <%= t '.terms_5_text5_5'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_6'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_4'%></p>
        </div>
        <div class="t-text">
            <p><span><%= t '.terms_6_text6_5_1'%></span> 
                (<%= link_to "https://appgenter.com", root_path, class: "terms-link" %>)
                <span><%= t '.terms_6_text6_5_2'%></span></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_6'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_7'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_6_text6_8'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_7'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_4'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_5'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_6'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_7_text7_7'%></p>
        </div>
        <div class="t-all-title">
            <%= t '.terms_all_title_8'%>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_1'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_2'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_3'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_4'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_5'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_6'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_7'%></p>
        </div>
        <div class="t-text">
            <p><%= t '.terms_8_text8_8'%></p>
        </div>
        <div class="t-text">
            <p><span><%= t '.terms_8_text8_9_1'%></span> 
                <%= link_to "https://appgenter.com", root_path, class: "terms-link" %>
                <span><%= t '.terms_8_text8_9_2'%></span> 
                <%= link_to "https://appgenter.com/terms-of-use/", terms_of_use_path, class: "terms-link" %>
                <span><%= t '.terms_8_text8_9_3'%></span></p>
        </div>
    </div>
</div>
